$primary_color: #0d47a1;
$highlight_color: #ffffb3;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* label color */
.input-field label {
    color: $primary_color;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: $primary_color;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid $primary_color;
    box-shadow: 0 1px 0 0 $primary_color;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid $primary_color;
    box-shadow: 0 1px 0 0 $primary_color;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid $primary_color;
    box-shadow: 0 1px 0 0 $primary_color;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: $primary_color;
}

ul.dropdown-content.select-dropdown li span {
    color: $primary_color; /* no need for !important :) */
}

ul.dropdown-content.select-dropdown li.disabled span {
    color: grey; /* no need for !important :) */
}

.flash {
    margin-bottom: 0;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: $primary_color;
}

.hero_image_block {
    position: relative;
    width: 100%;
}

.hero_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.hero_text {
    color: white;
    position: absolute;
    top: 150px;
    left: 10px;
    width: 100%;
}

.dive_table {
    background-color: white;
}
.card .card-content .home_page_text p {
    margin-bottom: 1rem;
}

.dive_table td, .dive_table th {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.dive_table td:hover {
    background-color: yellow !important;
}

.dive_hover {
    background-color: $highlight_color !important;
}

.dive_results td, .dive_results th {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}